<div fxFlexFill fxLayout="column" >
  <div fxFlex="10">
    <mat-toolbar style="background-color:rgb(71, 71, 204);color: whitesmoke;">SEARCH PLAYER</mat-toolbar>
  </div>
  <span fxFlex=8></span>
  <div fxFlex="90" fxLayout="row" fxLayoutAlign="center">
    <div>
      <img class="playeriamge" [src]="playerimage" alt="">
    </div>
    <span fxFlex=3></span>
    <div fxLayout="column">
      <div style="color: lightcoral;">
        <mat-label> PLEASE ENTER ATLEAST ONE FILED TO SEARCH PLAYER </mat-label>
      </div>
      <span fxFlex=3></span>
      <div>
        <form [formGroup]="searchForm" fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Team Name</mat-label>
            <input matInput formControlName="TeamName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email">
          </mat-form-field>
          <button mat-raised-button color="primary"> SEARCH </button>
        </form>
      </div>
    </div>
  </div>
</div>
