<div fxLayout="column" class="bgimg" fxFlexFill>
  <div fxLayoutAlign="center center" class="section" fxLayout="column" fxFlex>
    <span fxFlex=3></span>
    <div fxFlex="20" fxLayout="column" >
      <div align="center">
        <mat-icon>lock</mat-icon>
      </div>
      <span fxFlex=2></span>
      <div>
      <label class="label1">FORGET PASSWORD</label>
      </div>
    </div>
    <span fxFlex=2></span>
    <div fxFlex="60">
      <mat-card fxLayout="column">
        <span fxFlex=5></span>
        <mat-card-content>
          <form [formGroup]="forgetForm" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput formControlName="newpass">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Re-type password</mat-label>
              <input matInput formControlName="retypepass">
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button style="background-color:  steelblue;">Submit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

