mat-card {
  width: 650px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section {
  vertical-align: middle;
  height: 100%;
}

mat-icon{
color: steelblue;
font-size: 60px;
}
